/* === Reset básico === */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../imagenes/MAQUETADO.jpg');
}

label {
    font-weight: bold;
}

/* === Navbar === */
.navbar {
    background-color: #a4c8f1 !important;
}

.navbar-nav .nav-link {
    color: #000 !important;
}

.navbar-nav .nav-link:hover {
    color: #fff !important;
}

/* === Tarjetas de formulario === */
.card {
    background-color: #a4c8f1;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #007bff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h1 {
    font-size: 20px;
    font-weight: bold;
    color: #105297;
    margin-bottom: 20px;
    
}

/* === Títulos === */
h2 {
    font-weight: 700;
    font-size: 28px;
    color: #007bff;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 5px 0;

}

/* === Botones === */
.btn-primary {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* === Formulario - columnas === */
.row .col-md-6 {
    margin-bottom: 15px;
}

/* === Responsivo - Pantallas pequeñas === */
@media (max-width: 767px) {
    .container {
        padding: 5px;
    }

    .navbar-nav .nav-link {
        font-size: 14px;
    }

    .field-container {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .field-container label {
        width: 100%;
        margin-bottom: 5px;
    }

    .field-container input,
    .field-container select {
        width: 100%;
        padding: 8px;
    }
}
